.wrapper {
margin: 0 auto;
width: 940px;
}
.overlay {
background: transparent url(overlay.png) repeat-y scroll top left;
}

.grid-view {
    display: inline-block;
    width: 32px;
    height: 19px;
    background-image: url(../img/icon-grid-view.png);
    margin: 15px;
}