@font-face {
    font-family: 'Lato';
    src: url('../font/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-black-webfont.woff') format('woff'),
         url('../font/lato-black-webfont.ttf') format('truetype'),
         url('../font/lato-black-webfont.svg#latoblack') format('svg');
         font-weight: 900;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-bold-webfont.woff') format('woff'),
         url('../font/lato-bold-webfont.ttf') format('truetype'),
         url('../font/lato-bold-webfont.svg#latobold') format('svg');
         font-weight: 700;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-regular-webfont.woff') format('woff'),
         url('../font/lato-regular-webfont.ttf') format('truetype'),
         url('../font/lato-regular-webfont.svg#latoregular') format('svg');
         font-weight: 400;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-heavy-webfont.woff') format('woff'),
         url('../font/lato-heavy-webfont.ttf') format('truetype'),
         url('../font/lato-heavy-webfont.svg#latoheavy') format('svg');
         font-weight: 800;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-medium-webfont.woff') format('woff'),
         url('../font/lato-medium-webfont.ttf') format('truetype'),
         url('../font/lato-medium-webfont.svg#latomedium') format('svg');
         font-weight: 500;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-light-webfont.woff') format('woff'),
         url('../font/lato-light-webfont.ttf') format('truetype'),
         url('../font/lato-light-webfont.svg#latolight') format('svg');
         font-weight: 300;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-thin-webfont.woff') format('woff'),
         url('../font/lato-thin-webfont.ttf') format('truetype'),
         url('../font/lato-thin-webfont.svg#latothin') format('svg');
         font-weight: 200;
}


@-ms-viewport {
    width: device-width;
}


html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


h1 {
    color: #000;
    font-size: 100px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: 6px;
    font-family: "Lato", Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1.play-name {
    color: #fff;
}


h3.play-name {
    color: #fff;
}


h2 {
    color: #000;
    font-size: 52px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 3.12px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
}


h3 {
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.56px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 20px;
}


h4 {
    color: #000;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.96px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
}


p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}


.date {
    margin-bottom: 10px;
    font-weight: 800;
}


.day {
    text-transform: uppercase;
}


h4.actors {
    font-weight: 500;
}

h4.month{
    margin-bottom: 0;
}

span.month {
    display: inline-block;
    font-weight: 800;
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
}


h4.actors:hover {
    font-weight: 800;
    border-bottom: 2px solid #000;
    cursor: pointer;
}


img {
    margin-bottom: 10px;
}


.header img {
    margin-bottom: 0;
}


.header ul {
    margin-top: 30px;
    margin-left: 480px;
    margin-right: 0;
    padding-left: 0;
}


.header li {
    float: left;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
    list-style-type: none;
    margin-left: 60px;
}


a.logo {
    float: left;
}


a.logo:hover,
a.logo:focus {
    border-bottom: none;
    opacity: 1;
}


li {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
}


ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


.clearfix:after,
.row:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}


a {
    color: #000;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase;
}


a:hover,
a:focus {
    transition-property: color;
    opacity: 0.8;
    transition-timing-function: ease;
    transition-duration: 2s;
    border-bottom: 2px solid #000;
}


a.nav {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 2px solid #DCDCDC;
}


a.read-more {
    display: inline-block;
    margin-left: 20px;
}


a.read-more:hover,
a.read-more:focus,
a.read-more:active {
    border-bottom: none;
}


a.dot {
    border-bottom: 1px dotted #000;
    margin-bottom: 20px;
}


a.simple {
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: 0px;
}

a.simple {
    border-bottom:none;
    margin-left: 0px;
    margin-bottom: 0px;
}

a:active,
a:focus,
input {
    outline: none;
}


.icon {
    display: inline-block;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
}


.icon-correct {
    width: 10px;
    height: 10px;
    background-position: -2px -2px;
    margin-left: -10px;
}


.icon-error {
    width: 10px;
    height: 10px;
    background-position: -16px -2px;
    margin-left: -10px;
}


.icon-facebook {
    width: 12px;
    height: 12px;
    background-position: -31px -2px;
    margin-left: 10px;
}


a.button {
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 16px;
    padding: 10px 15px;
    background: #fff;
    outline: none;
    border: 2px solid #000;
    border-radius: 1px;
    margin-bottom: 120px;
}


a.button:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s, 1s;
    cubic-bezier: (0.1, 0.8, 0.5, 2), linear;
}


select.droplist {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
}


select.droplist:active {
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
}


input {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
}


input.validation-failed {
    border-bottom: 2px solid red;
}

label {
    color: #000;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}


.email-error {
    color: red;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}


.radio-check-label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    text-transform: capitalize;
}


input[type=radio],
[type=checkbox] {
    display: none;
}


.radio-check-label:before {
    content: "";
    box-sizing: content-box;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #fff;
    border: 2px solid #000;
}


input[type=checkbox]:checked + .radio-check-label:after {
    content: "";
    display: block;
    background-color: #000;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}


.radio .radio-check-label:before {
    box-sizing: content-box;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 13px;
}


input[type=radio]:checked + .radio-check-label:after {
    content: "";
    display: block;
    background-color: #000;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a.up {
    float: right;
    border-bottom: none;
    margin-bottom: 10px;
    margin-right: 25px;
}


.arrow-top {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: 2px solid #000;
    margin-top: 10px;
    margin-left: 1100px;
    clip: rect(0, 8px, 8px, 0);
}


.footer {
border-top: 2px solid #000;
}


.footer h4 {
    padding-top: 40px;
}

h4.lowercase {
    text-transform: lowercase;
}


.footer_logo {
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
}


a.footer_logo:hover,
a.footer_logo:focus,
a.footer_logo:active  {
    border-bottom: none;
    opacity: 0.7;
}


img.s4w {
    margin-top: 25px;
}

.play {
    background-image: url(../images/salida_background.jpg);
}

