@font-face {
    font-family: 'Lato-Black';
    src: url('font/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-black-webfont.woff') format('woff'),
         url('font/lato-black-webfont.ttf') format('truetype'),
         url('font/lato-black-webfont.svg#latoblack') format('svg');
}


@font-face {
    font-family: 'latobold';
    src: url('font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-bold-webfont.woff') format('woff'),
         url('font/lato-bold-webfont.ttf') format('truetype'),
         url('font/lato-bold-webfont.svg#latobold') format('svg');
}


@font-face {
    font-family: 'latoregular';
    src: url('font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-regular-webfont.woff') format('woff'),
         url('font/lato-regular-webfont.ttf') format('truetype'),
         url('font/lato-regular-webfont.svg#latoregular') format('svg');
}


@font-face {
    font-family: 'latoheavy';
    src: url('font/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-heavy-webfont.woff') format('woff'),
         url('font/lato-heavy-webfont.ttf') format('truetype'),
         url('font/lato-heavy-webfont.svg#latoheavy') format('svg');
}


@font-face {
    font-family: 'latomedium';
    src: url('font/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-medium-webfont.woff') format('woff'),
         url('font/lato-medium-webfont.ttf') format('truetype'),
         url('font/lato-medium-webfont.svg#latomedium') format('svg');
}


@font-face {
    font-family: 'latolight';
    src: url('font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-light-webfont.woff') format('woff'),
         url('font/lato-light-webfont.ttf') format('truetype'),
         url('font/lato-light-webfont.svg#latolight') format('svg');
}


@font-face {
    font-family: 'latothin';
    src: url('font/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-thin-webfont.woff') format('woff'),
         url('font/lato-thin-webfont.ttf') format('truetype'),
         url('font/lato-thin-webfont.svg#latothin') format('svg');
}

h1 {
	color: #000000;
	font-size: 100pt;
	font-family: "Lato-Black", Arial, sans-serif;
	text-align: left;
  }

h2 {
	color: #000000;
	font-size: 52pt;
	font-family: 'latoblack', Arial, sans-serif;
	text-align: left;
  }

h3 {
	color: #000000;
	font-size: 26pt;
	font-family: 'latobold', Arial, sans-serif;
	text-align: left;
  }

h4 {
	color: #000000;
	font-size: 16pt;
	font-family: 'latoheavy', Arial, sans-serif;
	text-align: left;
  }

p {
	color: #000000;
	font-size: 16pt;
	font-family: 'latoregular', Arial, sans-serif;
	text-align: left;
  }

 li {
    list-style-type: none;
 	color: #000000;
	font-size: 16pt;
	font-family: 'latoregular', Arial, sans-serif;
 }

ul {
    margin: 0;
    padding-left: 0;
}

.clearfix:after, {
content: "";
display: block;
height: 0;
}