@font-face {
    font-family: 'Lato';
    src: url('font/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-black-webfont.woff') format('woff'),
         url('font/lato-black-webfont.ttf') format('truetype'),
         url('font/lato-black-webfont.svg#latoblack') format('svg');
         font-weight: 900;
}


@font-face {
    font-family: 'Lato';
    src: url('font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-bold-webfont.woff') format('woff'),
         url('font/lato-bold-webfont.ttf') format('truetype'),
         url('font/lato-bold-webfont.svg#latobold') format('svg');
         font-weight: 700;
}


@font-face {
    font-family: 'Lato';
    src: url('font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-regular-webfont.woff') format('woff'),
         url('font/lato-regular-webfont.ttf') format('truetype'),
         url('font/lato-regular-webfont.svg#latoregular') format('svg');
         font-weight: 400;
}


@font-face {
    font-family: 'Lato';
    src: url('font/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-heavy-webfont.woff') format('woff'),
         url('font/lato-heavy-webfont.ttf') format('truetype'),
         url('font/lato-heavy-webfont.svg#latoheavy') format('svg');
         font-weight: 800;
}


@font-face {
    font-family: 'Lato';
    src: url('font/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-medium-webfont.woff') format('woff'),
         url('font/lato-medium-webfont.ttf') format('truetype'),
         url('font/lato-medium-webfont.svg#latomedium') format('svg');
         font-weight: 500;
}


@font-face {
    font-family: 'Lato';
    src: url('font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-light-webfont.woff') format('woff'),
         url('font/lato-light-webfont.ttf') format('truetype'),
         url('font/lato-light-webfont.svg#latolight') format('svg');
         font-weight: 300;
}


@font-face {
    font-family: 'Lato';
    src: url('font/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-thin-webfont.woff') format('woff'),
         url('font/lato-thin-webfont.ttf') format('truetype'),
         url('font/lato-thin-webfont.svg#latothin') format('svg');
         font-weight: 200;
}

h1 {
	color: #000000;
	font-size: 100pt;
    font-weight: 900;
	font-family: "Lato", Arial, sans-serif;
	text-align: left;
  }

h2 {
	color: #000000;
	font-size: 52pt;
    font-weight: 900;
	font-family: 'Lato', Arial, sans-serif;
	text-align: left;
  }

h3 {
	color: #000000;
	font-size: 26pt;
    font-weight: 700;
	font-family: 'Lato', Arial, sans-serif;
	text-align: left;
  }

h4 {
	color: #000000;
	font-size: 16pt;
    font-weight: 800;
	font-family: 'Lato', Arial, sans-serif;
	text-align: left;
  }

p {
	color: #000000;
	font-size: 16pt;
    font-weight: 400;
	font-family: 'Lato', Arial, sans-serif;
	text-align: left;
  }

 li {
    list-style-type: none;
 	color: #000000;
	font-size: 16pt;
    font-weight: 400;
	font-family: 'Lato', Arial, sans-serif;
 }

ul {
    margin: 0;
    padding-left: 0;
}

.clearfix:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}