body {
background-color: #ffffff
}


h1 {
	color: #000000;
	font-size: 100pt;
	font-family: 'latoblack', Arial, sans-serif;
	text-align: left;
  }

h2 {
	color: #000000;
	font-size: 52pt;
	font-family: 'latoblack', Arial, sans-serif;
	text-align: left;
  }

h3 {
	color: #000000;
	font-size: 26pt;
	font-family: 'latobold', Arial, sans-serif;
	text-align: left;
  }

h4 {
	color: #000000;
	font-size: 16pt;
	font-family: 'latoheavy', Arial, sans-serif;
	text-align: left;
  }

p {
	color: #000000;
	font-size: 16pt;
	font-family: 'latoregular', Arial, sans-serif;
	text-align: left;
  }

 li {
 	color: #000000;
	font-size: 16pt;
	font-family: 'latoregular', Arial, sans-serif;
 }

 .list{
        list-style-type: none;
    }

ul {
    margin: 0;
    padding-left: 0;
}

@font-face {
    font-family: 'latoblack';
    src: url('lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-black-webfont.woff') format('woff'),
         url('lato-black-webfont.ttf') format('truetype'),
         url('lato-black-webfont.svg#latoblack') format('svg');
}


@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bold-webfont.woff') format('woff'),
         url('lato-bold-webfont.ttf') format('truetype'),
         url('lato-bold-webfont.svg#latobold') format('svg');
}


@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regular-webfont.woff') format('woff'),
         url('lato-regular-webfont.ttf') format('truetype'),
         url('lato-regular-webfont.svg#latoregular') format('svg');
}


@font-face {
    font-family: 'latoheavy';
    src: url('lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-heavy-webfont.woff') format('woff'),
         url('lato-heavy-webfont.ttf') format('truetype'),
         url('lato-heavy-webfont.svg#latoheavy') format('svg');
}


@font-face {
    font-family: 'latomedium';
    src: url('lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-medium-webfont.woff') format('woff'),
         url('lato-medium-webfont.ttf') format('truetype'),
         url('lato-medium-webfont.svg#latomedium') format('svg');
}


@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-light-webfont.woff') format('woff'),
         url('lato-light-webfont.ttf') format('truetype'),
         url('lato-light-webfont.svg#latolight') format('svg');
}


@font-face {
    font-family: 'latothin';
    src: url('lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-thin-webfont.woff') format('woff'),
         url('lato-thin-webfont.ttf') format('truetype'),
         url('lato-thin-webfont.svg#latothin') format('svg');
}