@font-face {
    font-family: 'Lato';
    src: url('../font/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-black-webfont.woff') format('woff'),
         url('../font/lato-black-webfont.ttf') format('truetype'),
         url('../font/lato-black-webfont.svg#latoblack') format('svg');
         font-weight: 900;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-bold-webfont.woff') format('woff'),
         url('../font/lato-bold-webfont.ttf') format('truetype'),
         url('../font/lato-bold-webfont.svg#latobold') format('svg');
         font-weight: 700;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-regular-webfont.woff') format('woff'),
         url('../font/lato-regular-webfont.ttf') format('truetype'),
         url('../font/lato-regular-webfont.svg#latoregular') format('svg');
         font-weight: 400;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-heavy-webfont.woff') format('woff'),
         url('../font/lato-heavy-webfont.ttf') format('truetype'),
         url('../font/lato-heavy-webfont.svg#latoheavy') format('svg');
         font-weight: 800;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-medium-webfont.woff') format('woff'),
         url('../font/lato-medium-webfont.ttf') format('truetype'),
         url('../font/lato-medium-webfont.svg#latomedium') format('svg');
         font-weight: 500;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-light-webfont.woff') format('woff'),
         url('../font/lato-light-webfont.ttf') format('truetype'),
         url('../font/lato-light-webfont.svg#latolight') format('svg');
         font-weight: 300;
}


@font-face {
    font-family: 'Lato';
    src: url('../font/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-thin-webfont.woff') format('woff'),
         url('../font/lato-thin-webfont.ttf') format('truetype'),
         url('../font/lato-thin-webfont.svg#latothin') format('svg');
         font-weight: 200;
}


@-ms-viewport {
    width: device-width;
}



@media (min-aspect-ratio: 16/9) {
    #video_background {
        height: 300%;
        top: -100%; 
    }
}
 
@media (max-aspect-ratio: 16/9) {
    #video_background {
        width: 300%;
        left: -100%;
    }
}
 
@supports (object-fit: cover) {
    #video_background {
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


h1 {
    color: #000;
    font-size: 100px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: 6px;
    font-family: "Lato", Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 70px;
}



h2 {
    color: #000;
    font-size: 52px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 3.12px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
}


h3 {
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.56px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}



h4 {
    color: #000;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.96px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
}


p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: 34px;
}


.date {
    margin-bottom: 10px;
    font-weight: 800;
}


.day {
    text-transform: uppercase;
}

h4.actors {
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

h4.month{
    margin-bottom: 0;
}

.event h1 {
    margin-top: 0px;
}

.event h4 {
    margin-bottom: 60px;
}

.events h3 {
    margin-top: 90px;
}

.events h1 {
    margin-top: 30px;
}

.events a.button {
    margin-top: 0;
}


.contacts h4 {
    font-weight: 700;
    text-transform: capitalize;
}



.inversion h4 {
    color: #fff;
    margin-bottom: 0;

}


.inversion h3 {
    color: #fff;
    font-weight: 400;
    margin-top: 90px;;
}


.inversion h1 {
    color: #fff;
}

.inversion a {
    color: #fff;
}

.inversion a:hover,
a:focus {
    border-bottom: 2px solid #fff;
}


span.month {
    display: inline-block;
    font-weight: 800;
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
}


h4.actors:hover {
    font-weight: 800;
    border-bottom: 2px solid #000;
    cursor: pointer;
}


img {
    margin-bottom: 10px;
}

.mainpage h1 {
    margin-bottom: 35px;
}


.mainpage h3 {
    color: #fff;
    font-weight: 400;
    margin-top: 0;
}

.main-play {
   margin-left: 15%; 
   margin-top: 20%;
   margin-bottom: 25%;
}

header + * {
    margin-top: 120px;
}

header {
    background-image: linear-gradient(rgba(255,255,255, 1) 80px, rgba(255,255,255,0.05) 100%);
    position: fixed;
    width: 100%;
    min-width: 1100px;
    z-index: 1000;
    top: 0;
}


.header img {
    margin-top: 10px;
    margin-bottom: 30px;
}


.menu {
    margin-top: 10px;
    margin-left: 480px;
}

.header li {
    float: left;
    color: #000;
    font-family: 'Lato', Arial, sans-serif;
    list-style-type: none;
    margin-left: 60px;
    margin-top: 20px;
}

li.nav {
    display: none;
    float: none;
    margin-left: 0;
    margin-top: 0;
}

a.nav {
    font-size: 14px;
    font-weight: 400;
}

a.menu-nav:hover,
a.menu-nav:focus{
    border-bottom: none;
}

.by_tickets h4{
    margin-bottom: 55px;
}


.by_tickets a.button{
    margin-top: 30px;
    margin-bottom: 160px;
}


a.logo {
    float: left;
}


a.logo:hover,
a.logo:focus {
    border-bottom: none;
    opacity: 1;
}


li {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
}


ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


.clearfix:after,
.row:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}


a {
    color: #000;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase;
}


a:hover,
a:focus {
    transition-property: color;
    opacity: 0.8;
    transition-timing-function: ease;
    transition-duration: 2s;
    border-bottom: 2px solid #000;
    text-decoration: none;
    color: none;
}


a.mainpage {
    color: #fff;
}

a.mainpage:hover,
a.mainpage:focus {
    border-bottom: 2px solid #fff;
}

.list a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 2px solid #DCDCDC;
}


a.read-more {
    display: inline-block;
    margin-left: 20px;
}


a.read-more:hover,
a.read-more:focus,
a.read-more:active {
    border-bottom: none;
}


a.dot {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px dotted #000;
}


a.simple {
    border-bottom:none;
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: 0px;
}


a:active,
a:focus,
input {
    outline: none;
}


.icon {
    display: inline-block;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
}

.icon-sound-on {
    width: 17px;
    height: 17px;
    background-position: -45px -1px;
}

.icon-sound-off {
    width: 10px;
    height: 17px;
    background-position: -45px -1px;
}

.icon-correct {
    width: 10px;
    height: 10px;
    background-position: -2px -2px;
    margin-left: -10px;
}


.icon-error {
    width: 10px;
    height: 10px;
    background-position: -16px -2px;
    margin-left: -10px;
}


.icon-facebook {
    width: 12px;
    height: 12px;
    background-position: -30px -2px;
    margin-left: 10px;
}

.icon-facebook-mainpage {
    width: 12px;
    height: 12px;
    background-position: -62px -2px;
    margin-left: 10px;
}

.icon-underground {
    width: 17px;
    height: 17px;
    background-position: -78px 1px;
    margin-bottom: -3px;
}

a.button {
    display: inline-block;
    color: #000;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 16px;
    padding: 10px 15px;
    background-image: none; 
    outline: none;
    border: 2px solid #000;
}

a.button:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s, 1s;
}

a.button-sound {
    display: inline-block;
    float: left;
    background: none;
    outline: none;
    margin-top: 30px;
    margin-left: 20px;
}

a.button-sound:hover {
    border: none;
}


a.button-counter {
    display: inline-block;
    border-bottom: none;
    font-weight: 800;
    font-size: 20px;
}

.inversion a.button {
    color: #fff;
    border: 2px solid #fff;
}

.inversion a.button:hover {
    border: 2px solid #000;
}


input.customize {
    width: 300px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
}


input.validation-failed {
    border-bottom: 2px solid red;
}

input.tickets {
    width: 30px;
    height: 25px;
}

input.money {
    width: 60px;
    height: 25px;
    border-bottom: none;
}

label {
    color: #000;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}


.email-error {
    color: red;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}

.radio label, .checkbox label {
    padding-left: 30px;
    margin-bottom: 20px;
}

.radio-check-label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    text-transform: capitalize;
}


input[type=radio],
[type=checkbox] {
    display: none;
}


.radio-check-label:before {
    content: "";
    box-sizing: content-box;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #fff;
    border: 2px solid #000;
}


input[type=checkbox]:checked + .radio-check-label:after {
    content: "";
    display: block;
    background-color: #000;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}


.radio .radio-check-label:before {
    box-sizing: content-box;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 4px;
    top: 3px;
    border-radius: 13px;
}


input[type=radio]:checked + .radio-check-label:after {
    content: "";
    display: block;
    background-color: #000;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    position: absolute;
    top: 8px;
    left: 9px;
}


div.scrollup {
    position: fixed;
    bottom: 110px;
    right: 60px;
    min-width: 80px;
    padding: 3px;
    background: rgba(256,256,256,0.8);
    z-index: 100;
}



.scrollup a:hover {
    border-bottom: none;
    opacity: 1;
}


.arrow {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 64px;
    top: 12px;;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}

.corner-left {
    position: absolute;
    top: 6px;
    left: -16px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.line-left {
    position: absolute;
    top: 6px;
    left: -16px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-left: 2px solid #000;;
    opacity: 0;
}

.corner-right {
    position: absolute;
    top: 6px;
    right: -16px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.line-right {
    position: absolute;
    top: 6px;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-right: 2px solid #000;
    opacity: 0;;
}


.inversion span.corner-left,
.inversion span.corner-right {
    background-color: transparent;
    border: 2px solid #fff
}


.footer {
border-top: 2px solid #000;
}


.footer h4 {
    padding-top: 40px;
}

h4.lowercase {
    text-transform: lowercase;
}


.footer_logo {
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
}


a.footer_logo:hover,
a.footer_logo:focus,
a.footer_logo:active  {
    border-bottom: none;
    opacity: 0.7;
}


img.s4w {
    margin-top: 25px;
}


.play {
    background-image: url(../images/salida_background.jpg);
}

.map {
    min-height: 600px;
    margin-bottom: 10px;
    background-image: url(../images/map.jpg);
}

a.month {
    display: block;
    margin-top: 100px;
    margin-left: 15px;
}

.month div.corner-right {
    margin-left: 38px;
    margin-top: -15px;
}

.gratitude h4 {
    margin-bottom: 10px;
}

video {
   position:fixed;
   top: 0;
   left: 0;
   z-index:-1000;
   min-width:100%;
   min-height:100%;
   width: auto; 
   height: auto;
   overflow:hidden
}

.play-carousel {
margin-top: 200px;

}

.no-padding {
    padding: 0;
}

.where,
.list {
    padding-bottom: 70px;
}

.where p {
    margin-bottom: 0;
}

.about-spectacle {
    padding-bottom: 60px;
}

.move-button-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 30px;
}

.no-margin {
    margin: 0;
}

#map-canvas {
    height: 534px;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.modal-content #map-canvas {
    height: 500px;
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
}

.modal-content {
    border-radius: 0;
}

a.menu-nav {
    position: relative;
}