@font-face {
    font-family: 'Lato';
    src: url('../font/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-black-webfont.woff') format('woff'),
         url('../font/lato-black-webfont.ttf') format('truetype'),
         url('../font/lato-black-webfont.svg#latoblack') format('svg');
         font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-bold-webfont.woff') format('woff'),
         url('../font/lato-bold-webfont.ttf') format('truetype'),
         url('../font/lato-bold-webfont.svg#latobold') format('svg');
         font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-regular-webfont.woff') format('woff'),
         url('../font/lato-regular-webfont.ttf') format('truetype'),
         url('../font/lato-regular-webfont.svg#latoregular') format('svg');
         font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-heavy-webfont.woff') format('woff'),
         url('../font/lato-heavy-webfont.ttf') format('truetype'),
         url('../font/lato-heavy-webfont.svg#latoheavy') format('svg');
         font-weight: 800;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-medium-webfont.woff') format('woff'),
         url('../font/lato-medium-webfont.ttf') format('truetype'),
         url('../font/lato-medium-webfont.svg#latomedium') format('svg');
         font-weight: 500;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-light-webfont.woff') format('woff'),
         url('../font/lato-light-webfont.ttf') format('truetype'),
         url('../font/lato-light-webfont.svg#latolight') format('svg');
         font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-thin-webfont.woff') format('woff'),
         url('../font/lato-thin-webfont.ttf') format('truetype'),
         url('../font/lato-thin-webfont.svg#latothin') format('svg');
         font-weight: 200;
}

@-ms-viewport {
    width: device-width;
}

/*
@media (min-aspect-ratio: 16/9) {
    .video_background {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video_background {
        width: 300%;
        left: -100%;
    }
}

@supports (object-fit: cover) {
    .video_background {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    color: #000;
    font-size: 100px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: 6px;
    font-family: "Lato", Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 70px;
}

h2 {
    color: #000;
    font-size: 52px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 3.12px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
}

h3 {
    color: #000;
    font-size: 26px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 1.56px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h4 {
    color: #000;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.96px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 18px;
}

p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    margin-bottom: 10px;
    font-weight: 800;
}

.day {
    text-transform: uppercase;
}

h4.actors {
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.person {
    display: block;
    float: left;
    width: 400px;
    margin-bottom: 40px;
}

.person:hover {
    cursor: pointer;
}

.row-persons {
    margin-left: -50px;
    margin-right: -50px;
}

.panel-body .person-open h3 {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 610px;
}

.person-open p {
    margin-left: 610px;
    width: 40%;
}

.person-open img {
    float: left;
    margin-top: -35px;
}

.person-open button {
    margin: -40px -75px 0 0;
}

.panel-default > .panel-heading {
    color: none;
    background-color: none;
    border-color: none;
}

.panel-group {
    margin-bottom:0;
}
.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}

.panel {
    margin-bottom: 0;
    background-color: none;
    border: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    padding: 0;
    border-bottom:  none;
    border-top-left-radius:  none;
    border-top-right-radius:  none;
}

.panel-body {
    height: 265px;
    margin-top: 400px;
    padding: 0;
}

#collapseTwo {
    margin-left: -400px;
}

#collapseThree {
    margin-left: -800px;
}

#collapseFive {
    margin-left: -400px;
}

#collapseSix {
    margin-left: -800px;
}

#collapseEight {
    margin-left: -400px;
}

#collapseNine {
  margin-left: -800px;
}

#collapseEleven {
    margin-left: -400px;
}

.collapsing {
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.history h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.history h3 {
    margin-top: 60px;
}

.history img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.team {
    min-width: 1100px;
}

.team h1 {
    margin-bottom: 140px;
}

.team h3 {
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 60px;
}

.team h4 {
    margin-bottom: 0;
}

.team img {
    margin-bottom: 40px;
}

.other-play {
    margin-bottom: 90px;
    border-bottom: 2px solid transparent;
}

.other-play:hover,
.other-play:focus {
    border-bottom: 2px solid #000;
}

 .events {
    height: 550px;
    position: relative;
}

.event h1 {
    margin-top: 10px;
}

.event h3 {
    margin-top: 90px;
    margin-bottom: 50px;
}

.events h1 {
    margin-top: 30px;
}

.events h1 {
    margin-top: 30px;
}

.events h3 {
    margin-top: 90px;
}

.events a.button {
    margin-top: 0;
}

.contacts h1 {
    margin-bottom: 60px;
}

.contacts h2 {
    margin-bottom: 20px;
}

.contacts h4 {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.contacts a.button {
    margin-top: 15px;
    padding: 10px 30px;
}

.contacts .modal-title {
    line-height: 1;
}

.contacts .modal-body {
    margin: 65px 25px 50px 80px;
    padding: 0;
}

.contacts .modal-lg {
    width: 620px;
}

.contacts .modal-dialog {
    margin: 110px auto;
}

input.input-long {
    width: 460px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: 400;
    margin: 25px 25px 0 0;
    opacity: 1;
}

button.close:focus,
button.close:active {
    outline: none;
}

.inversion h4 {
    color: #fff;
    margin-bottom: 0;
    transition: color .4s ease;
}

.inversion h3 {
    color: #fff;
    font-weight: 400;
    transition: color .4s ease;
}

.inversion h1 {
    color: #fff;
    transition: color .4s ease;
}

.inversion a {
    color: #fff;
    transition: color .4s ease;
}

.inversion a:hover,
a:focus {
    border-bottom: 2px solid #fff;
}


.inversion a.button {
    display: inline-block;
    position: relative;
    opacity: 1;
    line-height: 16px;
    padding: 10px 15px;
    outline: none;
    border: 2px solid #fff;
    transition: background .4s ease;
    cursor: pointer;
}

.inversion a.button:hover,
.inversion a.button:active {
    color: #000;
}

.inversion a.button:hover:after,
.inversion a.button:active:after {
    height: 100%;
}

.inversion a.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
}

span.month {
    display: inline-block;
    font-weight: 800;
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
}

h4.actors:hover {
    font-weight: 800;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

img {
    margin-bottom: 10px;
}

.main-play {
    margin-left: 15%;
    margin-top: 20%;
    margin-bottom: 25%;
}

.header + * {
    margin-top: 120px;
}

.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    min-width: 1100px;
    z-index: 1000;
    top: 0;
}

.header img {
    margin: 10px 0 0px 0px;
}

.menu {
    margin-top: 10px;
    margin-left: 480px;
}

.header li {
    position: relative;
    float: left;
    color: #000;
    font-family: 'Lato', Arial, sans-serif;
    list-style-type: none;
    margin-left: 60px;
    margin-top: 20px;
}

.nav li {
    float: none;
    margin-left: 0;
    margin-top: 0;
}

.nav {
    display: none;
    position: absolute;
    opacity: 0;
    transition: opacity .15s linear;
}

li.hover .nav {
    opacity: 1;
    transition: opacity .15s linear;
}

.nav a {
    font-size: 14px;
    font-weight: 400;
}

a.menu-nav:hover,
a.menu-nav:focus{
    border-bottom: none;
}

a.menu-lang:hover,
a.menu-lang:focus{
    border-bottom: none;
}

.by-tickets h4{
    margin-bottom: 55px;
}

.by-tickets a.button{
    margin-top: 30px;
    margin-bottom: 160px;
}

.buy-ticketsTwo {
    display: none;
    opacity: 1;
    transition: opacity .15s linear;
}

.buy-ticketsThree {
    display: none;
    opacity: 1;
    transition: opacity .15s linear;
}

.active .continue .buy-ticketsTwo, .buy-ticketsThree {
    opacity: 1;
}

a.logo {
    float: left;
}

a.logo:hover,
a.logo:focus {
    border-bottom: none;
    opacity: 1;
}

li {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.clearfix:after,
.row:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #000;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase;
    transition: opacity .4s ease;
    z-index: 1;
}

a:hover,
a:focus {
    opacity: 0.6;
    border-bottom: 2px solid #000;
    text-decoration: none;
    transition: opacity .4s ease;
}

.list a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 2px solid #DCDCDC;
}

a.read-more {
    display: inline-block;
    margin-left: 20px
}

a.read-more:hover,
a.read-more:focus,
a.read-more:active {
    border-bottom: none;
}

a.dot {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px dotted #000;
}

a.simple {
    border-bottom:none;
    text-decoration: none;
    margin-left: 0px;
    margin-bottom: 0px;
}

a:active,
a:focus,
input {
    outline: none;
}

.icon {
    display: inline-block;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
}

.icon-sound-on {
    position: relative;
    opacity: 1;
    width: 17px;
    height: 17px;
    background-position: -45px -1px;
}

.sound-off {
    opacity: 0;
}

.icon-sound-off {
    position: absolute;
    width: 10px;
    height: 17px;
    background-position: -45px -1px;
}

.icon-correct {
    width: 10px;
    height: 10px;
    background-position: -2px -2px;
    margin-left: -10px;
}

.icon-error {
    width: 10px;
    height: 10px;
    background-position: -16px -2px;
    margin-left: -10px;
}

.icon-facebook {
    width: 12px;
    height: 12px;
    background-position: -30px -2px;
    margin-left: 10px;
}

.icon-facebook-mainpage {
    width: 12px;
    height: 12px;
    background-position: -62px -2px;
    margin-left: 10px;
}

.icon-underground {
    width: 17px;
    height: 17px;
    background-position: -78px 1px;
    margin-bottom: -3px;
}

a.button {
    display: inline-block;
    position: relative;
    opacity: 1;
    line-height: 16px;
    padding: 10px 15px;
    outline: none;
    border: 2px solid #000;
    transition: background .4s ease;
    cursor: pointer;
}

a.button:hover,
a.button:active {
    color: #fff;
}

a.button:hover:after, a.button:active:after {
    height: 100%;
}

a.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #000;
}

a.button-sound {
    display: inline-block;
    float: left;
    background: none;
    outline: none;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
}

a.button-sound:hover {
    border: none;
}

a.button-counter {
    display: inline-block;
    border-bottom: none;
    font-weight: 800;
    font-size: 20px;
}

input.customize {
    width: 300px;
    margin-top: 3px;
    margin-bottom: 7px;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
}

input.validation-failed {
    border-bottom: 2px solid red;
}

input.tickets {
    width: 30px;
    height: 25px;
    text-align: center;
}

input.money {
    width: 40px;
    height: 25px;
    border-bottom: none;
}

#money {
    display: inline-block;
    margin-top: 10px;
}

label {
    color: #000;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}

.email-error {
    color: red;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}

.radio label, .checkbox label {
    padding-left: 30px;
    margin-bottom: 20px;
}

.radio-check-label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    text-transform: capitalize;
}

input[type=radio],
[type=checkbox] {
    display: none;
}

.radio-check-label:before {
    content: "";
    box-sizing: content-box;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #fff;
    border: 2px solid #000;
}

input[type=checkbox] + .radio-check-label:after {
    content: "";
    display: block;
    background-color: #000;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity .4s ease;
}

input[type=checkbox]:checked + .radio-check-label:after,
input[type=radio]:checked + .radio-check-label:after {
    opacity: 1;
    transition: opacity .4s ease;
}

.radio .radio-check-label:before {
    box-sizing: content-box;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 4px;
    top: 3px;
    border-radius: 13px;
}

input[type=radio] + .radio-check-label:after {
    content: "";
    display: block;
    background-color: #000;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    position: absolute;
    top: 8px;
    left: 9px;
    opacity: 0;
    transition: opacity .4s ease;
}

div.scrollup {
    position: fixed;
    bottom: 110px;
    right: 60px;
    min-width: 80px;
    padding: 3px;
    background: rgba(256,256,256,0.8);
    z-index: 100;
}

a.up:hover, a.up:focus {
    border-bottom: none;
}

.arrow {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 64px;
    top: 12px;;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}

.corner-left {
    position: absolute;
    top: 6px;
    left: -16px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

li.hover .line-left,
li.hover .line-right {
    opacity: 1;
}

.line-left {
    position: absolute;
    display: none;
    transition: opacity .15s linear;
    opacity: 0;
    top: 6px;
    left: -16px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-left: 2px solid #000;
}

.corner-right {
    position: absolute;
    top: 6px;
    right: -16px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.line-right {
    position: absolute;
    display: none;
    transition: opacity .15s linear;
    opacity: 0;
    top: 6px;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-right: 2px solid #000;
}

.inversion span.corner-left,
.inversion span.corner-right {
    background-color: transparent;
    border-color: #fff;
}
.inversion span.line-left,
.inversion span.line-right {
    background-color: transparent;
    border-color: #fff;
}

.footer {
    border-top: 2px solid #000;
}

.footer h4 {
    padding-top: 40px;
}

h4.lowercase {
    text-transform: lowercase;
}

.footer_logo {
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
}

a.footer_logo:hover,
a.footer_logo:focus,
a.footer_logo:active  {
    border-bottom: none;
    transition-property: color;
    opacity: 0.7;
    -webkit-transition: all 200ms cubic-bezier(0.45, 0, 0.8, 0.8);
    transition: all 200ms cubic-bezier(0.45, 0, 0.8, 0.8);
}

img.s4w {
    margin-top: 25px;
}

.play {
    background-image: url(../images/salida_background.jpg);
}

.map {
    min-height: 600px;
    margin-bottom: 10px;
    background-image: url(../images/map.jpg);
}

.map-modal {
    margin: -25px -20px 0 0;
    text-shadow: none;
}

a.month {
    display: block;
    margin-top: 100px;
    margin-left: 15px;
}

.month div.corner-right {
    margin-left: 38px;
    margin-top: -15px;
}

.gratitude h4 {
    margin-bottom: 10px;
}

.no-padding {
    padding: 0;
}

.where,
.list {
    padding-bottom: 70px;
}

.where p {
    margin-bottom: 0;
}

.about-spectacle {
    padding-bottom: 60px;
}

.move-button-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 30px;
}

.no-margin {
    margin: 0;
}

#map-canvas {
    height: 534px;
    margin: 0 auto 10px auto;
}

.modal-content #map-canvas {
    height: 500px;
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
}

.modal-content {
    border-radius: 0;
}

a.menu-nav {
    position: relative;
}

#my-carousel {
    text-align: center;
    margin: 0 auto;
}

.frontpage .carousel-indicators {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 5px;
    z-index: 15;
    min-width: 1100px;
    left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
    padding: 0;
}

.frontpage .carousel-inner {
    overflow: inherit;
}

.frontpage .carousel-indicators li {
    display: inline-block;
    width: 190px;
    height: 100%;
    background: 0;
    border: none;
    cursor: pointer;
    text-indent: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    margin: 0 10px 0 10px;
    padding-bottom: 3px;
}

.frontpage .carousel-indicators .active {
    border-bottom: 2px solid white;
    background-color: transparent;
    transition: border-color .4s ease;
}

.frontpage .carousel-caption {
    position: fixed;
    min-width: 1100px;
    top: 0;
    left: 0;
    padding-left: 10%;
    z-index: 10;
    text-shadow: none;
    padding-top: 0;
    bottom: 0;
}

.frontpage .header {
    background: transparent;
    width: 1100px;
}

.frontpage h1 {
    margin-top: 200px;
    margin-bottom: 0;
}

.my-video {
    position: absolute;
    opacity: 0;
    transition: opacity 1.3s ease;
    z-index: -999;
}

.video-show {
    opacity: 1;
    transition: opacity 1.3s ease;
    z-index: -999;
}

textarea {
  width: 460px;
  height: 30px;
  margin-top: 25px;
  resize: none;
  border: none;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: 'Lato', Arial, sans-serif;
}

textarea:focus {
    outline: none;
}

.addmargin {
    margin-bottom: 60px;
}

.close-out-modal {
    color: #fff;
    text-shadow: 0 1px 0 black;
    margin: -25px -25px 0 0;
}

.close-out-modal:hover,
.close-out-modal:focus {
    color: #fff;
}

.logos {
    margin-top: 100px;
    margin-bottom: 130px;
}

.up {
    display: none;
}

.months {
    margin-top: 75px;
}

.events-video video {
    width: 100%;
    position: absolute;

}

.events-video {
    width: 100%;
    padding-top: 350px;
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: -1;
}

.corner-actor {
    position: absolute;
    display: none;
    top: 313px;
    right: 90px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: opacity 1.3s ease;
}

.events-video .my-video {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
}